nav {
    background-color:rgb(114, 112, 112); 
    font-style:italic;
    font-weight:bold;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    display:inline-block;
}

a {
    color:lightcyan;
    padding: 0 10px;
    text-decoration:none;
}
a:hover {
    color: greenyellow;
    background-color:black;
}